<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="/" method="POST">
            Enter the name :  <input type="text" name="name"> </br>
            Enter the age :  <input type="text" name="age"> </br>
            Enter the salary :  <input type="text" name="salary"> </br>
            Enter the designation :  <input type="text" name="designation"> </br>
            <input type="submit" value="Submit">
        </form>
</body>
</html>